@tailwind base;
@tailwind components;
@tailwind utilities;

Canvas{
    height: 100vh !important;
    width: 100vw !important;
    background-color:#A4E9D5;
    /* cursor: pointer;   */
    transition: transform 3s ease-in-out; /* Adjust duration and easing as needed */
  }
  /* .sphere {
  }  */
  
  